
/* Your CSS Code here. */
.container {
  width: 200px;
  background-color: rgb(128, 0, 128);
}

.main {
  border-left-width: 5px 
  border-left-color: rgb(0, 128, 0);
  padding: 10px;
}

.heading {
  font-size: 20px;
  color: white;
}
